@font-face {
  font-family: "blackchancery";
  src: url("./fonts/BLKCHCRY.TTF");
}
@font-face {
  font-family: "gilroy";
  src: url("./fonts/GILROY-REGULAR.OTF");
}
@font-face {
  font-family: "marisa";
  src: url("./fonts/MARISA.OTF");
}
@font-face {
  font-family: "frock thin";
  src: url("./fonts/FROCKTHIN-P7XZV.TTF");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-thumb {
  background-color: #666;
  border-radius: 50px;
}
#sj-main {
  width: 100%;
  position: relative;
  overflow: hidden;
  /* background: linear-gradient(to right,#bb4973, #d5c5c5, #d5c5c5, #d5c5c5,#bb4973); */
  background: linear-gradient(to right, #bb49, #d5c5c5, #bb49, #d5c5c5, #bb49);
}
#main {
  background-color: black;
  height: 100vh;
  width: 100%;
  color: white;
  position: fixed;
  overflow: hidden;
  transform-origin: 0% 0%;
  transition: all 2s;
  z-index: 999;
}
#main i {
  position: absolute;
  top: 5%;
  left: 50px;
  font-size: 30px;
  padding: 10px;
}
#main i:hover {
  background-color: white;
  color: black;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.8s;
  transform: rotate(180deg);
}
#main #band {
  height: 110vh;
  width: 20%;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%) rotate(10deg);
  background-color: white;
  color: black;
  font-size: 5vw;
  font-family: "blackchancery";
  text-align: center;
  padding-top: 5%;
  box-shadow: inset 0px 0px 30px 10px black;
}
#main #content {
  position: absolute;
  top: 70%;
  left: 33%;
  color: black;
  font-size: 3vw;
  font-family: "gilroy";
}
#main #content span {
  color: white;
}
.main {
  position: relative;
  z-index: 10;
}
#main1 {
  height: 100vh;
  width: 100%;
  /* box-shadow: inset 0px -20px 20px 5px rgb(228, 200, 255); */
}
#main1 #close {
  position: absolute;
  top: 20%;
  left: 50px;
  font-size: 2vw;
  color: white;
  padding: 10px;
  border-radius: 50%;
  background-color: white;
  color: black;
}
#main1 #close:hover {
  background-color: black;
  color: white;
  transition: all 0.5s;
  transform: rotate(180deg);
  cursor: pointer;
}
#main1 #content {
  position: absolute;
  left: 50px;
  bottom: 10%;
  width: 30%;
  font-size: 2vw;
  font-family: "frock thin";
  font-weight: bold;
  letter-spacing: 4px;
  transition: all 2s;
  transition-delay: 1s;
  transform: skewY(-10deg);
}
#main1 #content #hi {
  height: 100px;
}
#main1 #me {
  height: 80%;
  width: 20%;
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translate(0%, -50%) skewY(10deg);
  transition: all 2s;
  transition-delay: 1s;
  background-image: url("./images/sj.jpg");
  background-position: center;
  background-size: cover;
  background-color: rebeccapurple;
  border-radius: 10px;
  box-shadow: 10px 10px 30px black;
}
#main1 #me ul {
  position: absolute;
  left: -80%;
  bottom: 0%;
  font-size: 2.5vw;
  line-height: 4vw;
  font-family: "gilroy";
  font-weight: 300;
}
#main2 {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 80px 0px;
}
#main2 .edu {
  font-size: 5vw;
  font-family: "marisa";
  cursor: pointer;
  margin-bottom: 20px;
}
#main2 .edu::after {
  content: "";
  display: block;
  width: 0;
  height: 5px;
  background: #000;
  transition: width 0.8s;
  margin: 0 auto;
}
#main2 .edu:hover::after {
  width: 100%;
}
#main2 .row {
  height: 25vh;
  width: 80%;
  border-bottom: 2px solid black;
  display: flex;
  align-items: center;
  font-family: "gilroy";
}
#main2 .row img {
  height: 100%;
}
#main2 .row div {
  margin: 20px;
}
#main3 {
  height: 100vh;
  width: 100%;
}
#main3 #skills {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(0%, -50%);
  font-size: 3vw;
  font-family: "marisa";
  cursor: pointer;
}
#main3 #skills h1 {
  display: inline-block;
}
#main3 #skills h1::after {
  content: "";
  display: block;
  width: 0;
  height: 5px;
  background: #000;
  transition: width 0.8s;
}
#main3 #skills h1:hover::after {
  width: 100%;
}
#main3 #skills ul {
  margin-top: 20px;
  font-family: "gilroy";
  font-size: 2vw;
}
#main3 #skills p {
  margin-top: 30px;
  font-family: "gilroy";
  font-size: 1.5vw;
}
#main3 img {
  height: 60%;
  position: absolute;
  top: 40%;
  right: 15%;
  transform: translate(0%, -50%);
}
#main4 {
  height: 100vh;
  width: 100%;
  display: flex;
}
#main4 #left {
  padding: 30px 80px;
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#left #project {
  height: 25%;
  width: 60%;
  background-color: lightgrey;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.582);
  overflow: hidden;
  position: relative;
}
#left #project img {
  position: absolute;
  top: 0%;
  width: 100%;
}
#left #project:nth-child(2) {
  align-self: flex-end;
}
#main4 #right {
  height: 100%;
  width: 40%;
  padding: 30px 80px;
}
#main4 #right h1 {
  font-size: 5vw;
  font-family: "marisa";
  margin-bottom: 20px;
}
#main4 #right h1::after {
  content: "";
  width: 0;
  display: block;
  height: 5px;
  background-color: black;
  transition: width 1s;
}
#main4 #right h1:hover::after {
  width: 100%;
}
#main4 #right p {
  font-size: 1.7vw;
  text-align: justify;
}
#contact {
  position: relative;
  height: 90vh;
  width: 100%;
  padding: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#contact h1 {
  font-size: 8vw;
  font-family: marisa;
  cursor: pointer;
}
#contact h1::after {
  content: "";
  height: 5px;
  display: block;
  background-color: black;
  width: 0;
  transition: all 1s;
  margin: 0 auto;
}
#contact h1:hover::after {
  width: 100%;
}
#contact #content {
  width: 50%;
  /* border: 1px solid black; */
  text-align: center;
  padding: 50px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.642);
  border-radius: 10px;
}
#contact #content form {
  line-height: 50px;
  font-family: "frock thin";
}
#contact #content form label {
  font-weight: bold;
}
#contact #content form input,
#contact #content form textarea {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.463);
}
#contact #content form input {
  width: 70%;
}
#contact #content form input[type="submit"] {
  font-size: 15px;
  padding: 5px 30px;
  border-radius: 10px;
  border: none;
  width: inherit;
}
#contact #content form input[type="submit"]:hover {
  background-color: rgb(64, 153, 255);
  color: white;
  cursor: pointer;
  transition: 0.5s;
}
#footer {
  text-align: center;
  font-size: 20px;
  font-family: "gilroy";
}
#footer i {
  font-size: 2vw;
  margin: 20px;
}
#footer #copyright {
  margin-top: 20px;
  padding: 20px;
  border-top: 1px solid black;
  width: 100%;
  text-align: end;
  font-size: 1.2vw;
}
